name: shell  Commands,

on:
  push:
    branches: [deploy]
jobs:
  run-shell-commands:
    runs-on: ubuntu-latest
    steps:
      - name: echo a string
        run: echo "Hello world"
      - name: multiline script
        run: |
          node -v 
          npm -v
      - name: python Command
        run: |
          import platform
          print(platform.processor())

        shell: python
  run-window-commands:
    runs-on: windows-latest
    needs: ["run-shell-commands"]
    steps:
      - name: Directory Powerdhell
        run: Get-Location
      - name: Directory Bash
        run: pwd
        shell: bash
#name: Container
#on: push

#jobs:
# node-docker:
## services:
#  app:
#   image: crawan/filrougeserversalim:2
#  ports:
#   - 9000:9000
